In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [4]:
import os
print (os.path.abspath(os.curdir))

/mnt/c/Users/cymle/Documents/jupyter/code

In [6]:
# d = pd.read_csv("../train/browse_history_train.txt",header=None,
#                     names=['用户标识','浏览时间','浏览行为数据','浏览子行为编号'])
d = pd.read_csv("/mnt/c/Users/cymle/Desktop/data/browse_history.csv")
d['time']=d['time']//86400
d

            uid   time  scan_record  sub_scan_record
0         34801  68588          173                1
1         34801  68588          164                4
2         34801  68588           38                7
3         34801  68588           45                1
4         34801  68588          110                7
...         ...    ...          ...              ...
22919542  43509  68539          120                1
22919543  43509  68539          110                7
22919544  43509  68539          101                1
22919545  43509  68539          118                1
22919546  43509  68539           38                7

[22919547 rows x 4 columns]

In [7]:
gb=d.groupby(["uid"],as_index=False)

x1=gb['scan_record'].agg({'x_scan_recordsum' : 'sum','x_scan_recordmax' : 'max','x_scan_recordmean' : 'mean'
                     ,'x_scan_recordmin' : 'min','x_scan_recordstd' : 'std','x_scan_recordvar' : 'var'})
xx=gb['sub_scan_record'].apply(lambda x:np.unique(x).size)
x2=gb['sub_scan_record'].agg({'x_sub_scan_recordcount' : 'count'})
x2['x_sub_scan_recordcount_filter']=xx

feature = x1
feature=pd.merge(feature, x2,how='left', on = "uid")

In [8]:
#统计放款前用户浏览子行为个类别统计信息

d1 = pd.get_dummies(d['sub_scan_record'], prefix='sub_scan_record')
d1 = d.join(d1)
d1.drop('sub_scan_record', 1)

gb=d1.groupby(["uid"],as_index=False)

x1=gb['sub_scan_record_1'].agg({'x_sub_scan_record_1' : 'sum'})
x2=gb['sub_scan_record_2'].agg({'x_sub_scan_record_2' : 'sum'})
x3=gb['sub_scan_record_3'].agg({'x_sub_scan_record_3' : 'sum'})
x4=gb['sub_scan_record_4'].agg({'x_sub_scan_record_4' : 'sum'})
x5=gb['sub_scan_record_5'].agg({'x_sub_scan_record_5' : 'sum'})
x6=gb['sub_scan_record_6'].agg({'x_sub_scan_record_6' : 'sum'})
x7=gb['sub_scan_record_7'].agg({'x_sub_scan_record_7' : 'sum'})
x8=gb['sub_scan_record_8'].agg({'x_sub_scan_record_8' : 'sum'})
x9=gb['sub_scan_record_9'].agg({'x_sub_scan_record_9' : 'sum'})
x10=gb['sub_scan_record_10'].agg({'x_sub_scan_record_10' : 'sum'})
x11=gb['sub_scan_record_11'].agg({'x_sub_scan_record_11' : 'sum'})

feature=pd.merge(feature, x1,how='left', on = "uid")
feature=pd.merge(feature, x2,how='left', on = "uid")
feature=pd.merge(feature, x3,how='left', on = "uid")
feature=pd.merge(feature, x4,how='left', on = "uid")
feature=pd.merge(feature, x5,how='left', on = "uid")
feature=pd.merge(feature, x6,how='left', on = "uid")
feature=pd.merge(feature, x7,how='left', on = "uid")
feature=pd.merge(feature, x8,how='left', on = "uid")
feature=pd.merge(feature, x9,how='left', on = "uid")
feature=pd.merge(feature, x10,how='left', on = "uid")
feature=pd.merge(feature, x11,how='left', on = "uid")
feature

,uid,x_scan_recordsum,x_scan_recordmax,x_scan_recordmean,x_scan_recordmin,x_scan_recordstd,x_scan_recordvar,x_sub_scan_recordcount,x_sub_scan_recordcount_filter,x_sub_scan_record_1,x_sub_scan_record_2,x_sub_scan_record_3,x_sub_scan_record_4,x_sub_scan_record_5,x_sub_scan_record_6,x_sub_scan_record_7,x_sub_scan_record_8,x_sub_scan_record_9,x_sub_scan_record_10,x_sub_scan_record_11
0,2,151500,213,116.091954,7,58.230548,3390.796753,1305,8,540.0,0,90.0,150.0,105.0,135.0,105.0,105.0,0,75.0,0
1,3,38586,190,112.824561,35,50.366559,2536.790245,342,6,174.0,0,0.0,48.0,30.0,24.0,42.0,0.0,0,24.0,0
2,4,38764,213,106.494505,35,54.240841,2942.068840,364,8,164.0,0,4.0,64.0,36.0,32.0,36.0,4.0,0,24.0,0
3,6,1650,110,110.000000,110,0.000000,0.000000,15,1,0.0,0,0.0,0.0,0.0,0.0,15.0,0.0,0,0.0,0
4,7,112420,213,111.527778,15,54.965108,3021.163081,1008,7,462.0,0,0.0,140.0,98.0,98.0,112.0,14.0,0,84.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47325,55592,46890,210,118.409091,38,54.230024,2940.895512,396,7,180.0,0,0.0,72.0,18.0,27.0,54.0,18.0,0,27.0,0
47326,55593,19600,210,109.497207,31,55.460116,3075.824430,179,8,79.0,0,7.0,32.0,21.0,9.0,16.0,9.0,0,6.0,0
47327,55594,104040,201,108.375000,31,54.669211,2988.722628,960,7,480.0,0,0.0,120.0,80.0,80.0,100.0,60.0,0,40.0,0
47328,55595,70720,210,112.253968,28,58.217008,3389.219976,630,7,290.0,0,0.0,110.0,60.0,40.0,60.0,40.0,0,30.0,0
47329,55596,13300,190,110.833333,38,48.641776,2366.022409,120,5,60.0,0,0.0,20.0,0.0,10.0,20.0,0.0,0,10.0,0

In [14]:
dataset = feature
temp=dataset[:]
#统计行和列的缺失值数
dataset=dataset.fillna(-1)
temp['user_no_data_count']=(dataset==-1).sum(axis=1)
#用均值填充缺失值
temp.fillna(temp.mean(),inplace=True)
temp

/home/ivanfzh/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/ivanfzh/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,uid,x_scan_recordsum,x_scan_recordmax,x_scan_recordmean,x_scan_recordmin,x_scan_recordstd,x_scan_recordvar,x_sub_scan_recordcount,x_sub_scan_recordcount_filter,x_sub_scan_record_1,...,x_sub_scan_record_3,x_sub_scan_record_4,x_sub_scan_record_5,x_sub_scan_record_6,x_sub_scan_record_7,x_sub_scan_record_8,x_sub_scan_record_9,x_sub_scan_record_10,x_sub_scan_record_11,user_no_data_count
0,2,151500,213,116.091954,7,58.230548,3390.796753,1305,8,540.0,...,90.0,150.0,105.0,135.0,105.0,105.0,0,75.0,0,0
1,3,38586,190,112.824561,35,50.366559,2536.790245,342,6,174.0,...,0.0,48.0,30.0,24.0,42.0,0.0,0,24.0,0,0
2,4,38764,213,106.494505,35,54.240841,2942.068840,364,8,164.0,...,4.0,64.0,36.0,32.0,36.0,4.0,0,24.0,0,0
3,6,1650,110,110.000000,110,0.000000,0.000000,15,1,0.0,...,0.0,0.0,0.0,0.0,15.0,0.0,0,0.0,0,0
4,7,112420,213,111.527778,15,54.965108,3021.163081,1008,7,462.0,...,0.0,140.0,98.0,98.0,112.0,14.0,0,84.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47325,55592,46890,210,118.409091,38,54.230024,2940.895512,396,7,180.0,...,0.0,72.0,18.0,27.0,54.0,18.0,0,27.0,0,0
47326,55593,19600,210,109.497207,31,55.460116,3075.824430,179,8,79.0,...,7.0,32.0,21.0,9.0,16.0,9.0,0,6.0,0,0
47327,55594,104040,201,108.375000,31,54.669211,2988.722628,960,7,480.0,...,0.0,120.0,80.0,80.0,100.0,60.0,0,40.0,0,0
47328,55595,70720,210,112.253968,28,58.217008,3389.219976,630,7,290.0,...,0.0,110.0,60.0,40.0,60.0,40.0,0,30.0,0,0
47329,55596,13300,190,110.833333,38,48.641776,2366.022409,120,5,60.0,...,0.0,20.0,0.0,10.0,20.0,0.0,0,10.0,0,0

In [10]:
import sklearn

import pandas as pd
from sklearn.metrics import accuracy_score,precision_score,recall_score,roc_auc_score
import numpy as np

In [11]:
df1 = pd.read_csv("/mnt/c/Users/cymle/Desktop/data/output_no_norm.csv") 
df1

,uid,label,sex_0,sex_1,sex_2,career_0,career_1,career_2,career_3,career_4,...,x_845,x_846,x_847,x_848,x_849,x_850,x_851,x_852,x_853,x_854
0,2,0,0,1,0,0,0,1,0,0,...,53.0,335.695735,0.000000,0.000000,0.000000,142.637152,9.347233,-7.649129,345.042968,387.655252
1,3,0,0,1,0,0,0,0,0,1,...,4.0,37.162823,0.000000,0.000000,0.000000,0.000000,-0.426806,0.429281,36.736017,36.723666
2,4,1,0,1,0,0,0,0,0,1,...,0.0,230.765089,0.000000,0.000000,0.000000,243.569409,66.826995,2.760489,297.592084,477.742636
3,5,0,0,1,0,0,0,1,0,0,...,0.0,35.914512,0.000000,0.000000,0.000000,39.942542,4.278933,-5.443941,40.193445,41.328836
4,6,1,0,1,0,0,0,1,0,0,...,53.0,214.111454,0.000000,0.000000,82.792589,219.744957,9.508023,-63.647776,223.619477,246.194967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53168,55592,0,0,1,0,0,0,1,0,0,...,0.0,96.275173,17.530205,48.008470,0.000000,98.858418,-23.111481,36.529561,103.641957,100.244712
53169,55593,1,0,1,0,0,0,0,0,1,...,0.0,377.436802,0.000000,16.891939,0.000000,258.008629,95.240441,-22.316083,489.569182,609.424985
53170,55594,0,0,1,0,0,0,1,0,0,...,12.0,407.869112,116.322561,0.000000,0.000000,214.753480,4.596329,-7.295301,296.142880,431.289730
53171,55595,0,0,1,0,0,0,1,0,0,...,2.0,463.886648,60.383863,16.489600,0.000000,478.394615,-13.295941,119.081162,406.696444,487.405526
53172,55596,0,0,0,1,0,0,1,0,0,...,0.0,157.268781,0.000000,0.000000,0.000000,168.559064,0.000000,1.061956,157.268781,174.104240

In [15]:
t1 = temp
trains = pd.merge(df1, t1, how='inner', on='uid')
trains

,uid,label,sex_0,sex_1,sex_2,career_0,career_1,career_2,career_3,career_4,...,x_sub_scan_record_3,x_sub_scan_record_4,x_sub_scan_record_5,x_sub_scan_record_6,x_sub_scan_record_7,x_sub_scan_record_8,x_sub_scan_record_9,x_sub_scan_record_10,x_sub_scan_record_11,user_no_data_count
0,2,0,0,1,0,0,0,1,0,0,...,90.0,150.0,105.0,135.0,105.0,105.0,0,75.0,0,0
1,3,0,0,1,0,0,0,0,0,1,...,0.0,48.0,30.0,24.0,42.0,0.0,0,24.0,0,0
2,4,1,0,1,0,0,0,0,0,1,...,4.0,64.0,36.0,32.0,36.0,4.0,0,24.0,0,0
3,6,1,0,1,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,15.0,0.0,0,0.0,0,0
4,7,0,0,1,0,0,0,1,0,0,...,0.0,140.0,98.0,98.0,112.0,14.0,0,84.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45226,55592,0,0,1,0,0,0,1,0,0,...,0.0,72.0,18.0,27.0,54.0,18.0,0,27.0,0,0
45227,55593,1,0,1,0,0,0,0,0,1,...,7.0,32.0,21.0,9.0,16.0,9.0,0,6.0,0,0
45228,55594,0,0,1,0,0,0,1,0,0,...,0.0,120.0,80.0,80.0,100.0,60.0,0,40.0,0,0
45229,55595,0,0,1,0,0,0,1,0,0,...,0.0,110.0,60.0,40.0,60.0,40.0,0,30.0,0,0
45230,55596,0,0,0,1,0,0,1,0,0,...,0.0,20.0,0.0,10.0,20.0,0.0,0,10.0,0,0

In [16]:
# global start
# start = 0
# def rename(x):
#     global start
#     if x not in ['uid', 'label']:
#         start += 1
#         return "x_"+str(start)
#     return x

# trains.rename(columns=rename, inplace=True)
trains.to_csv("/mnt/c/Users/cymle/Desktop/data/all_data.csv", index=False)
trains

,uid,label,sex_0,sex_1,sex_2,career_0,career_1,career_2,career_3,career_4,...,x_sub_scan_record_3,x_sub_scan_record_4,x_sub_scan_record_5,x_sub_scan_record_6,x_sub_scan_record_7,x_sub_scan_record_8,x_sub_scan_record_9,x_sub_scan_record_10,x_sub_scan_record_11,user_no_data_count
0,2,0,0,1,0,0,0,1,0,0,...,90.0,150.0,105.0,135.0,105.0,105.0,0,75.0,0,0
1,3,0,0,1,0,0,0,0,0,1,...,0.0,48.0,30.0,24.0,42.0,0.0,0,24.0,0,0
2,4,1,0,1,0,0,0,0,0,1,...,4.0,64.0,36.0,32.0,36.0,4.0,0,24.0,0,0
3,6,1,0,1,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,15.0,0.0,0,0.0,0,0
4,7,0,0,1,0,0,0,1,0,0,...,0.0,140.0,98.0,98.0,112.0,14.0,0,84.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45226,55592,0,0,1,0,0,0,1,0,0,...,0.0,72.0,18.0,27.0,54.0,18.0,0,27.0,0,0
45227,55593,1,0,1,0,0,0,0,0,1,...,7.0,32.0,21.0,9.0,16.0,9.0,0,6.0,0,0
45228,55594,0,0,1,0,0,0,1,0,0,...,0.0,120.0,80.0,80.0,100.0,60.0,0,40.0,0,0
45229,55595,0,0,1,0,0,0,1,0,0,...,0.0,110.0,60.0,40.0,60.0,40.0,0,30.0,0,0
45230,55596,0,0,0,1,0,0,1,0,0,...,0.0,20.0,0.0,10.0,20.0,0.0,0,10.0,0,0